<table class="table">
    <thead>
    <tr>
        <th style="width: 50px">#</th>
        <th>Информация о заказе</th>
        <th>Имя покупателя</th>
        <th>Фамилия покупателя</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="deal in orderCtrl.getFilteredDeals() | limitTo: orderCtrl.itemsPerPage : orderCtrl.startItem()"
            ng-click="orderCtrl.editDealModal(deal)">
        <td>{{ deal.order.id }}</td>
        <td>{{ deal.order.info }}</td>
        <td>{{ deal.clients[0].firstName }}</td>
        <td>{{ deal.clients[0].lastName }}</td>
        <td><a href="#" ng-click="orderCtrl.removeDeal(deal)"><span class="glyphicon glyphicon-remove"></span></a></td>
    </tr>
    </tbody>
</table>

<div id="pagination" class="row">
    <button class="btn btn-primary btn-sm"
            ng-disabled="orderCtrl.firstPage()" ng-click="orderCtrl.pageBack()">Назад</button>
    <span>{{ orderCtrl.currentPage + 1 }} из {{ orderCtrl.numberOfPages() }}</span>
    <button class="btn btn-primary btn-sm"
            ng-disabled="orderCtrl.lastPage()" ng-click="orderCtrl.pageForward()">Вперед</button>
</div>

<input type="button" class="btn btn-default act-add-deal" ng-click="orderCtrl.editDealModal()" value="Добавить заказ">
