<table class="table">
    <thead>
    <tr>
        <th style="width: 50px">#</th>
        <th>Информация о заказе</th>
        <th>Имя покупателя</th>
        <th>Фамилия покупателя</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="order in ordersPage.content">
        <td ng-click="orderCtrl.editOrderModal(order)">{{ order.id }}</td>
        <td ng-click="orderCtrl.editOrderModal(order)">{{ order.info }}</td>
        <td ng-click="orderCtrl.editOrderModal(order)">{{ order.clients[0].firstName }}</td>
        <td ng-click="orderCtrl.editOrderModal(order)">{{ order.clients[0].lastName }}</td>
        <td><a href="#" ng-click="orderCtrl.removeOrder(order)"><span class="glyphicon glyphicon-remove"></span></a></td>
    </tr>
    </tbody>
</table>

<div id="pagination" class="row">
    <button class="btn btn-primary btn-sm"
            ng-disabled="ordersPage.first" ng-click="orderCtrl.pageBack()">Назад</button>
    <span>{{ currentPage + 1 }} из {{ ordersPage.totalPages }}</span>
    <button class="btn btn-primary btn-sm"
            ng-disabled="ordersPage.last" ng-click="orderCtrl.pageForward()">Вперед</button>
</div>

<input type="button" class="btn btn-default act-add-order" ng-click="orderCtrl.editOrderModal()" value="Добавить заказ">
